* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
header{
    /*border: 5px solid #bd1a8c;*/
    background-color: #cdd82d;
    height: 80px;
    width: 100%;

}
.priroda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0px 30px;
}
.priroda-text{
    display:flex;
}
.top {
    text-align: center;
    width: 500px;
    margin: 0px 20px;
    color: #b61a12;
}
.priroda-spis ul {
    display:flex;
}
.priroda-spis ul li{
    margin-right: 10px;
}
.priroda-spis ul li:last-child{
    margin-right: 0px;
}
.priroda-spis ul li a{
    font-size: 20px;
    line-height: 22px;
    color: #8d5656;
    transition: all 0.3s;
  }
.priroda-spis ul li a:hover{
    color: #ffffff;
    transition: all 0.3s;
  }
.container {
    width: 1400px;
    margin: 50px auto;
    /*background-color: #f16412;*/
}
.water-list{
    display: flex;
    flex-wrap: wrap;
    /*background-color: #1299bb;*/
}
.water{
    width: 310px;
    position: relative;
    margin: 10px 10px;
    cursor:pointer;
}
.water-image{
    width: 100%;
    height: 280px;
}
.water-image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.water-text{
    position: absolute;
    bottom: 30px;
    left: 80px;
}
.water-text p{
    color:#e2dddd;
    font-size: 16px;
    font-weight: bold;
}
.water:hover .water-image img{
    transform: scale(1.2);
    transition: all .3s;
  }
.water-image{
    overflow: hidden;
    border-radius: 5px;
}
h2 {
    color: rgb(56, 207, 68); text-align: left;
}
h3 {
    color: red; text-align: left;
}
p {
    color: black; text-align: left; font-family: Georgia;
}
.kart {
    border: 10px solid #b61a12;
background-color: #a9e9a9;
padding: 20px;
width: 400px;
}
.igor {
    color: rgb(117, 16, 148);
    border: 1px solid #1299bb;
    background-color: #bd96c2;
    padding: 20px;
    width: 800px;
}
footer {
    width: 100%;
    background-color: #bd96c2;
    padding: 106px 0px 0px 0px;
    box-sizing: border-box;
}
.footer-nam1 {
    width: 1300px;
    display: flex;
    /*border: 2px solid red;*/
    margin: 0px auto;
    justify-content: space-between;
}
.bloc1 ul {
    border: 0px solid blue;
}
.bloc1 ul li{
    /*border: 2px solid black;*/
    padding-bottom: 20px;
}
.bloc1 ul li h4{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font: Ariel;
}
.bloc1 ul li a{
    color: white;
    font-size: 16px;
    font-weight: 200;
}
.bloc2 ul {
    border: 0px solid rgb(62, 12, 128)
}
.bloc2 ul li{
    margin-bottom: 15px;
    /*border: 2px solid rgb(56, 207, 68)*/
}
.bloc2 ul li h4{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}
.bloc2 ul li a{
    color: white;
    font-size: 16px;
    font-style: italic;
    font-family: Tahoma, Verdana;
}
.bloc4 {
    border: 0px solid rgb(62, 12, 128)
}
.bloc4-zag {
    color: white;
    font-size: 18px;
    font-family:'Courier New', Courier;
    margin-bottom: 10px;
}
.bloc4-knop ul{
    display: flex;
    justify-content: space-between;
    border: 0px solid rgb(117, 16, 148);
}
.bloc4-knop ul li{
    margin-right: 10px;
    color:seashell;
}
.bloc4-knop ul li:last-child{
    margin-right: 0px;
}
.footer-nam2 {
    width: 100%;
    /*display: flex;*/
    /*justify-content: space-around;*/
    padding: 31px 0px;
    /*margin: 0px auto;*/
    margin-top: 106px;
    background: #343a40;
}
.footer-text {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    width: 1300px;
    /*background: #d41d3b;*/
}