* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 1400px;
    margin: 50px auto;
    background-color: #f16412;
}
.water-list{
    display: flex;
    flex-wrap: wrap;
    background-color: #1299bb;
}
.water{
    width: 310px;
    position: relative;
    color: #6c757d;
    margin: 0px 10px;
}
.water-image{
    width: 100%;
    height: 280px;
}
.water-image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
#top {color: rgb(24, 56, 116);
    text-align: center;
    font-family: Times;
    border: 5px solid #bd1a8c;
    background-color: #cdd82d;
    padding: 5px 20px 20px 20px;
    width: 800px;
    height: 60px;
}
h1 {color: black;
    text-align: center;
    font-family: Arial;
    border: 8px double #8c90c7;
    background-color: #b159a5;
    padding: 40px 20px 40px 20px;
    width: 800px;
    height: 50px;
}
h2 {color: rgb(56, 207, 68); text-align: left;
}
h3 {color: red; text-align: left;
}
p {color: black; text-align: left; font-family: Georgia;
}
.kart {border: 10px solid #b61a12;
background-color: #a9e9a9;
padding: 20px;
width: 400px;
}
.igor {color: rgb(117, 16, 148);
    border: 1px solid #1299bb;
    background-color: #bd96c2;
    padding: 20px;
    width: 800px;
}