        *{
            margin: 0px;
            padding: 0px;
        }
        html{
            scroll-behavior: smooth;
        }
        header {
            margin: 40px 0px;
        }
            header nav ul{
            list-style: none;
        
        /* Убирает точки у списка*/
        display: flex; /*Все элементы встали в строку*/
        justify-content: end; /*Элементы стали вправо*/
        }
        header nav ul li{
            margin-right: 20px;
        }
        header nav ul li a{
            text-decoration: none; /*Убираем подчеркивание у списка*/
            color: rgb(194, 36, 36);
            font-size: 21px;
            line-height: 25px;
            font-weight: bold;
            
            border: 2px solid #000;
            padding: 5px 10px;
            border-radius: 20px;
            display: block;
            /*background: linear-gradient(45deg, rgb(41,139,36) 0%, rgb(130, 77, 192) 100%);*/
            transition: all 1s;
        }
        header nav ul li a:hover{
            /*background: linear-gradient(45deg, rgb(41,139,36) 0%, rgb(130, 77, 192) 100%);*/
            background: magenta;
            color: #fff;
            transition: all 1s;
        }
        header nav ul li a:active{
            background: rgb(17, 0, 255);
            border: 2px solid rgb(24, 185, 72);
        }
        .product-card{
            display: flex;
            width: 600px;
        }
        .product-card_info_title{
            display: flex;
            justify-content: space-between;
        }
        .product-card_info{
            width: 100%;
        }