* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: "Lora", serif;
  font-weight: 400;
}
.font-roboto,
.font-roboto a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
header {
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);

  position: absolute;
  z-index: 1;
}
.banner img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.header-flex {
  padding: 0px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header-nav ul {
  display: flex;
  align-items: center;
}
.header-nav ul li a {
  font-size: 12px;
  line-height: 14px;
  color: #e5e5e5;
  transition: all 0.3s;
}
.header-nav ul li a:hover {
  color: #fff;
  transition: all 0.3s;
}
.header-nav ul li {
  margin-right: 25px;
}
.header-nav ul li:last-child {
  margin-right: 0px;
}
.header-flex-2 {
  display: flex;
}
.header-social ul {
  display: flex;
}

.header-social ul li {
  margin-right: 18px;
}
.header-social ul li:last-child {
  margin-right: 0px;
}
.header-social {
  margin: 0px 17px;
  border-left: 0.5px solid #e5e5e5;
  border-right: 0.5px solid #e5e5e5;
  padding: 0px 17px;
}
.banner {
  position: relative;
}
.banner-info {
  position: absolute;
  width: 530px;
  left: 70px;
  bottom: 140px;
}

.tag {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  padding: 5px 10px;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;

  color: #ffffff;
}
.banner-info h1{
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;

  color: #FFFFFF;
}
.banner-info-all{
  display: flex;
  align-items: center;
}
.banner-info-date{
  font-size: 12px;
  line-height: 15px;
  color: #E5E5E5;
}
.middle-line {
  height: 1px;
  min-width: 30px;
  background: #e5e5e5;
  margin: 0px 11px;
}
.banner-info-text{
  font-size: 12px;
  line-height: 20px;

  color: #E5E5E5;
}
.container {
  width: 1300px;
  margin: 150px auto;
}
.h2-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  color: #495057;
}
.filter-list {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  
  /* margin: 30px 0px; - аналогичная записть*/
}
.filter-list li {
  margin-right: 20px;
}
.filter-list li:last-child {
  margin-left: auto;
  margin-right: 0px;
}
.filter-list li a {
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  color: #495057;
  transition: all 0.3s;
}
.filter-list li a:hover {
  transition: all 0.3s;
  color: #d4a373;
}
.topic {
  width: 310px;
  position: relative;
  color: #6c757d;
}
.topic-image {
  width: 100%;
  height: 280px;
}
.topic-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.tag-list {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
}
.tag-list li {
  margin-right: 10px;
}
.tag-list li:last-child {
  margin-right: 0px;
}
.topic-date {
  font-size: 12px;
  line-height: 15px;
}
.topic-title {
  font-size: 18px;
  line-height: 25px;
  color: #495057;
}
.topic-text {
  font-size: 12px;
  line-height: 15px;
}
.topic p {
  margin-top: 15px;
}
.topics-list {
  display: flex;
  flex-wrap: wrap;
}
.topic{
  margin: 0px 10px;
}
.big-post{
  position: absolute;
  top: 224px;
  /*left: calc(50%-265px);*/
  left: 455px;

  width: 530px;
  text-align: center;
  color: #e5e5e5;
}
.big-post h2 {
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 36px;
  line-height: 46px;
}
.big-post-text{
  font-size: 12px;
  line-height: 20px;
  color: #E5E5E5;
  margin-top: 13px;
}
.middle-line1{
height: 1px;
width: 30px;
background: #e5e5e5;
margin-top: 24px;
margin-left: 250px;
}
.big-post-date{
  margin-top: 15px;
  font-size: 12px;
  line-height: 15px;
}
.topic{
  cursor: pointer;
}
.topic:hover .topic-image img{
  transform: scale(1.2);
  transition: all .3s;
}
.topic-image{
  overflow: hidden;
  border-radius: 5px;
}
.tag-list{
  z-index: 1;
}
.post{
  position: relative;
  width: 420px;
  height: 350px;
}
.post img{
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  object-fit: cover;
}
.post .topic{
  position: absolute;
  z-index: 1;
  bottom: 42px;
  left: 40px;
  width: auto;
  right: 40px;
}
.post .topic .topic-date{
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
    
  color: #E5E5E5;
}
.post .topic .topic-title{
font-family: Lora;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;

color: #FFFFFF;
}
.post .topic .topic-text{
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
    
  color: #E5E5E5;
}
.post-list{
  display: flex;
  flex-wrap: wrap;
}
.post{
  margin: 0px 10px;
}
.post{
  cursor: pointer;
}
.post:hover .post-image img{
  transform: scale(1.1);
  transition: all .3s;
}
.post-image img{
  overflow: hidden;
  border-radius: 5px;
}
footer{
  width: 100%;
  background: #212529;
  padding: 106px 0px 0px 0px;
  box-sizing: border-box;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}
.footer-container h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}
.footer-container .header-social{
  border: none;
  margin: 15px 0px 0px 0px;
  padding: 0px;
}
.footer-ul{
  display: flex;
  flex-direction: column;
  gap: 18px 0px
}
.footer-ul li{
  margin-top: 8px;
}
.footer-ul li a{
  font-size: 12px;
  line-height: 15px;

  color: #E5E5E5;
}
.middlev{
  font-size: 12px;
  line-height: 20px;

  color: #E5E5E5;
  width: 114px;
  margin-top: 18px;
}
.subscribe{
  width: 100%;
  padding: 31px 0px;
  margin-top: 160px;
  background: #343440;
}
.subscribe-flex{
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}